@charset "UTF-8";

/* ALL */
    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body {
        width: 100vw;
        height: 100vh;
        background-color: darkblue;
    }

    h1 {
        color: white;
        text-shadow: 3px 3px 0px darkturquoise;
        padding: 10px;
    }

/* LANDSCAPE */
@media screen and (orientation: landscape) {
    body {
        background-color: darkgoldenrod;
    } 
}

/* PORTRAIT */
@media screen and (orientation: portrait) {
    body {
        background-color: yellowgreen;
    }
}
