@charset "UTF-8";

body{
    margin: auto;
    background-image: url(imagens/wallpaper001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;

}